@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Raleway:ital,wght@0,200;0,300;1,100;1,200&display=swap');


:root {
  --primary-color: #6dd1ff;
  --secondary-color: #017ac9;
  --tag-color: #b1cffa;
  --tag-hover: #90bbf7;
  --dark-color: #021323;
  --light-color: #f4f4f4;
  --success-color: #43b243;
  --error-color: #d9534f;
  --grey: rgb(211, 211, 211);
  --box-color: rgb(243, 243, 243);
  /* 카카오톡 버튼용 색 추가 */
  --primary-kakao-color: #fee500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  line-height: 1.6;
  word-break: keep-all;
}

/*utility*/

button {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Navbar */

.logo {
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  font-weight: 600;
  font-size: 1.8rem;
  color: black;
}

.navbar {
    width: 100%;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    box-shadow: 1px 2px 20px 0 rgba(16, 16, 17, 0.08);
}

.navbar-links ul {
  display: flex;
}

.navbar-links li a {
  display: block;
  padding: 5px;
  line-height: 2rem;
  margin-right: 1rem;

  color: rgb(22, 22, 22);

  font-weight: 400;
  font-size: 1.1rem;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
}

.navbar-links li a:hover {
  color: var(--primary-color);
  font-weight: 500;
}

.navbar .flex {
  justify-content: space-between;
  display: flex;
  text-align: center;
}


/* main page */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
    overflow: auto;
}


.tagbox {
  height: 230px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  background-color: var(--box-color);
  box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  border-radius: 20px;

  padding: 1.5rem;
  margin-top: 2rem;
}

.tag {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  margin: 0.4rem;
  padding: 0.3rem 0.8rem 1.5rem 0.6rem;

  background-color: var( --tag-color);
  box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  height: 2.2rem;
  border-radius: 20px;
}


.tag:hover,
.modaltag:hover {
  transform: scale(0.99);
  cursor: pointer;
  background-color: var( --tag-hover);
}

/* serachbox */

.search {
  height: 100px;
  position: relative;
  margin-top: 2rem;
}

.taghere {
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;

  background-color: var( --box-color);
  box-shadow: 0 3px 8px rgb(0 0 0 / 20%);

  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code";
  font-size: 1rem;
}

.fa-search {
  position: absolute;
  right: 20px;
  top: 15px;
  color: black;
}

.fa-search:hover {
  cursor: pointer;
}

 input[type="search"]:focus, input {outline:none;}

 /* photo grid */

 element.style {
  --column-gutter: 24px;
  --columns: 3;
  --row-gutter: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  flex-direction: column;
  padding: 10px;
  border: none;
}

.line {
  display: grid;
  margin: auto;
  padding: 10px;
  margin-top: 1rem;
}


/* if img hover, show tags */

.imgwrapper {
  position: relative;
  width: 270px;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  height: 100%;
  object-fit: contain;
}

.zzal {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.tagposition {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

  z-index:-1;

}

.imgbox {
  display: flex;
  text-align: center;
} 

.imgtag {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  margin: 0.3rem;
  padding: 0.4rem 0.6rem 0.2rem 0.6rem;

  background-color: var(--tag-hover);
  box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  height: 2rem;
  border-radius: 20px;

  font-size: 1rem;
  color: black;
  font-weight: 600;
  font-family: "Neo둥근모 Code", "Neo둥근모Code", "neodgm-code"; 
  
  z-index: -1;
}


.imgtag:hover {
  transform: scale(0.98);
  cursor: pointer;
  background-color: var( --tag-hover);
}

.imgwrapper:hover .zzal {
  opacity: 0.3;
  cursor: pointer;
}

.imgwrapper:hover .tagposition {
  opacity: 1;
}


/* login */

.loginbox {
  max-width: 350px;
  margin: auto;
  padding-top: 150px;
}

.logintext {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4rem;
}

.loginbox-box {
  margin-top: 2rem;
}

.inputbox {
  border: none;
  outline: none;
  background-color: var( --box-color);
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  margin-top: 0.7rem;
  
}

.btn-primary {
  width: 100%;
  height: 3rem;
  
  border-radius: 10px;
  margin: 3rem 0rem 1rem 0rem;

  text-align: center;
  justify-content: center;
  
  background-color: var(--primary-color);
  color: #fff;
  
  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  outline: none;
  border: none;
}


/* Join 회원 가입 CSS*/
.joinbox {
  max-width: 350px;
  margin: auto;
  padding-top: 150px;
}

.jointext {
  font-size: 1.7rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4rem;
}

.joinbox-box {
  margin-top: 1rem;
}

.inputbox {
  border: none;
  outline: none;
  background-color: var( --box-color);
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  margin-top: 0.7rem;

}

.btn-primary-join {
  width: 100%;
  height: 3rem;

  border-radius: 10px;
  margin: 1rem 0rem 0.2rem 0rem;

  text-align: center;
  justify-content: center;

  background-color: var(--primary-color);
  color: #fff;

  font-size: 1.2rem;
  font-weight: 600;
}

.btn-primary-kakao {
  width: 100%;
  height: 3rem;

  border-radius: 10px;
  margin: 1rem 0rem 0.2rem 0rem;

  text-align: center;
  justify-content: center;

  background-color: var(--primary-kakao-color);
  color: #fff;

  font-size: 1.2rem;
  font-weight: 600;
}

.btn {
  outline: none;
  border: none;
}


/* 상세정보 모달 start */

.modal-info{
  /*모달 배경*/
  position:fixed;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.8);
  top:0;
  left:0;
  display:none;
}



.modal-info-content{
  /*모달 창*/
  width:40%;
  height:80%;
  border-radius:10px;
  position:relative;
  top:40%;
  left:50%;
  margin-top:-300px;
  margin-left:-300px;
  text-align:center;
  box-sizing:border-box;
  padding:74px 0;
  line-height:23px;

  background-color: var( --box-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content-box {

}

.modal-info-icons{
  display: flex;
  justify-content: space-between;

  width: 400px;
}

.clicknum {
  font-size: 1.1rem;
}

.rightside > i {
  font-size: 1.3rem;
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}


.modal-info-img{
  width: 400px;
  margin-top: 0.4rem;
}
.upload-img{
  width: 400px;
  object-fit: cover;
}
.modal-info-tagbox {
  width: 400px;
  display: flex;
  /* tag가 넘쳐났을 경우 다음 줄로 이동 */
  flex-wrap: wrap;

  padding: 0.5rem;
  margin-top: 0.5rem;
}


.modaltag {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  margin: 0.3rem;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;

  background-color: var( --tag-color);
  box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  height: 2.2rem;
  border-radius: 20px;
}

.fa-solid .fa-heart {
  color: red;
}



/* 상세정보 모달 end */

/* 짤 올리기 모달 start */
.modal{
  /*모달 배경*/
  position:absolute; width:100%; height:100%; background: rgba(0,0,0,0.8); top:0; left:0; display:none;
}

.modal_content{
  /*모달 창 */
  width:400px; height:350px;
  border-radius:10px;
  position:relative; top:50%; left:50%;
  margin-top:-100px; margin-left:-200px;
  text-align:center;
  box-sizing:border-box; padding:74px 0;
  line-height:23px;

  background-color: var( --box-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Modal items */

.modal-title{
  margin-bottom: 1rem;
}

.modal-url {
  height: 100px;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
 .urlhere {
    height: 50px;
    width: 20rem;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;

    background-color: var( --box-color);
    box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.modal-url .fa-upload {
  position: absolute;
  right: 20px;
  top: 15px;
  color: black;
  cursor: pointer;
}


.modal-btns > button {

  text-align: center;
  justify-content: center;

  background-color: var(--primary-color);
  color: #fff;

  font-size:1rem;
  width: 5rem;
  height:2rem;
  outline: none;
  border: none;
  border-radius: 15px;

  margin-top: 15px;
}

/* 짤 올리기 모달 end */


/*footer*/

.footer {
  height: 250px;
  width: 100%;
  margin-top: 7rem;

  background-color: var(--primary-color);
  color: white;
  text-align: center;
}
.footer h3 {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 2rem;
  word-spacing: -0.6rem;
}


.footer p {
  font-size: 1rem;
}