<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>짤방못잃어</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://unpkg.com/@kfonts/neodgm-code/index.css"/>
    <!-- Fa solid icon 적용 cDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        // 로그아웃 버튼 누를 시 로그아웃
        function logout() {
            console.log()
            $.removeCookie('mytoken', {path: '/'})
            alert('로그아웃!')
            window.location.href = "/"
        }

        $(function () {

            $("#upload-zzal").click(function () {
                $(".modal").fadeIn();
            });

            $(".modal_content").click(function () {
                $(".modal").fadeOut();
            });

        });
        // 짤 올리기 모달 시작
        $(document).on("click", "#upload-zzal", function (e) {
            $(".urlhere").val('');
            $('body').css('overflow', 'hidden');
            $(".modal").fadeIn();
        });

        // 외부영역 클릭 시 팝업 닫기
        $(document).mouseup(function (e) {
            let LayerPopup = $(".modal");
            if (LayerPopup.has(e.target).length === 0) {
                $(".modal").fadeOut();
            }
        });
        // 짤 올리기 끝

        // 상세정보 모달 시작
        $(document).on("click", ".zzal", function (e) {
            // 클릭한 img의 src를 가져와서
            // src 속성에 넣어주기
            let img = $('.zzal').attr("src");
            $('.upload-img').attr("src", img);
            $(".modal-info").fadeIn();
            // 스크롤 가리기
            $('body').css('overflow', 'hidden');
        });
        $(document).mouseup(function (e) {
            let LayerPopup = $(".modal-info");
            if (LayerPopup.has(e.target).length === 0) {
                $('body').css('overflow', 'visible');
                $(".modal-info").fadeOut();
            }
        });
    </script>
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <div class="container flex">
        <a href="/" class="logo">짤방못잃어</a>
        <div class="navbar-links">
            <ul>
                <li><a id="upload-zzal">짤올리기</a></li>
                <li><a href=/posts/mine>My짤</a></li>
                {% if login_status == 0 %}
                    <li><a href=/log>로그인</a></li>
                    <li><a href=/join>회원가입</a></li>
                {% elif login_status == 1 %}
                    <li><a href=/log>{{ user_info.id }} 님</a></li>
                    <li><a onclick="logout()">로그아웃</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!--main page -->
<section class="container main">
    <!--tagbox -->
    <div class="tagbox">
        <div class="tag">#짱구</div>
        <div class="tag">#무한도전</div>
        <div class="tag">#퇴사각</div>
        <div class="tag">#meme</div>
        <div class="tag">#동물짤</div>
        <div class="tag">#커밋</div>
        <div class="tag">#배고파</div>
    </div>

    <div class="search">
        <input class="taghere" type="text" id="" placeholder="짤검색하기!">
        <i class="fas fa-search" id="" onclick=""></i>
    </div>

    <div class="grid">
        {% for i in range(4) %}
            <div class="line">
                {% for post in posts[i] %}
                    <div class="imgwrapper" onclick="">
                        <img class="zzal" src="{{ post.url }}">
                        <div class="tagposition">
                            <div class="imgtagbox" id="">
                                {% for tag in post.tag %}
                                    <button class="imgtag" id="">{{ tag }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
<!-- 상세정보 모달 HTML-->
<div class="modal-info">
    <div class="modal-info-content">
        <div class="modal-info-none-tag-items">
            <div class="modal-info-icons">
                <i class="fa-solid fa-computer-mouse"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-regular fa-heart"></i>
            </div>
            <div class="modal-info-img"><img class="upload-img" src=""></div>
        </div>
        <div class="modal-info-tagbox">
            <div class="tag">#짱구</div>
            <div class="tag">#흰둥이</div>
        </div>
    </div>
</div>
<!-- 짤 올리기 모달 HTML -->
<div class="modal">
    <div class="modal_content"
         title="">
        <div class="modal-title">짤 올리기</div>
        <div class="modal-url">
            <input class="urlhere" type="text" id="" placeholder="URL 입력">
            <i class="fa-solid fa-upload"></i>
        </div>
        <div class="modal-btns">
            <button>OK</button>
            <button>Cancel</button>
        </div>
    </div>
</div>
</section>
<section class="footer">
    <div class="container">
        <h3>Dev Team C-3</h3>
        <p>&#128073 이동재 김민수 한지용 권지은 &#128072 </p>
    </div>
</section>

</body>
</html>