<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>짤방못잃어</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
<!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <a href="/" class="logo">짤방못잃어</a>
            <div class="navbar-links">
                <ul>
                    <li><a href="">짤올리기</a></li>
                    <li><a href=/posts/mine>My짤</a></li>
                    <li><a href=/log>로그인</a></li>
                    <li><a href=/join>회원가입</a></li>
                </ul>
            </div>
        </div>
    </div>
<!--main page -->
    <div class="container main">
        <div class="grid">

                {% for i in range(4) %}
                    <div class="line">
                        {% for post in posts[i] %}
                            <div class="imgwrapper" onclick="">
                                <img class="zzal" src="{{ post.url }}">
                                <div class="tagposition">
                                    <div class="imgtagbox" id="">
                                        {% for tag in post.tag %}
                                            <button class="imgtag" id="">{{ tag }}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

        </div>

    </div>


</body>
</html>